<th><%= key %></th>
<td><%= form.select key, %w(block inline none inline-block img list-item run-in marker compact table inline-table table-row table-cell table-row-group table-header-group table-footer-group table-column table-column-group caption).map {|i|[i,i]} %></td>
