<style type="text/css">
  div#widget_tree { float:right; }
  div#widget_tree ul { list-style-type:disc; }
  div#widget_tree li { padding-left:1em; }
</style>
<div id="widget_tree">
  <%= widget_tree(root) %>
</div>
